<div class="main-header">
<div class="left-header">
    <div class="header-title">
      Brain Storming
    </div>
  </div>
  <div class="right-header">
  <% if user_signed_in? %>
    <div class="header-button">
    <%= link_to "BMを終了する", destroy_user_session_path, method: :delete %>
    </div>
    <% end %>
  </div>
</div>

<div class="items">
 <div class="item">
   <div class="item-content">
        トマトを買う
      </div>
   <div class="item-content">
        ワインを買う
      </div>
  </div>
</div>

