<div class="main-header">
<div class="left-header">
    <div class="header-title">
      Brain Storming
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">BMを終了する</a>
    </div>
  </div>
</div>

<div class="items">
 <div class="item">
   <div class="item-content">
        トマトを買う
      </div>
   <div class="item-content">
        ワインを買う
      </div>
  </div>
</div>

