<div class="side-bar-header">
  <div class="header-name">
   <%= link_to current_user.first_name %>
  </div>
  <div class="create-topic">
      <%=form_with model: @topic, local: true do |f|%>
      <div class='create-topic-form_label'>
        <%= f.text_field :topic, class: 'create-topic-form_input', placeholder: 'トピックを作成する'%>
      </div>
        <%= f.submit class: 'create-topic__action-btn'%>    
      <% end %>
   </div>
</div>

<div class="topics">
 <div class="topic">
    <div class="topic-name">
      <a href="#">銀行に行く</a>
    </div>
  </div>
  <div class="topic">
    <div class="topic-name">
      <a href="#">オリーブオイルを購入する</a>
    </div>
  </div>
</div>