<div class="side-bar-header">
<div class="header-name">
   <%= link_to current_user.first_name %>
  </div>
  <div class="create-topic">
    <a href="#">トピックを作成する</a>
  </div>
</div>

<div class="topics">
 <div class="topic">
    <div class="topic-name">
      <a href="#">銀行に行く</a>
    </div>
  </div>
  <div class="topic">
    <div class="topic-name">
      <a href="#">オリーブオイルを購入する</a>
    </div>
  </div>
</div>