<div class="main-header">
<div class="left-header">
    <div class="header-title">
      Brain Storming
    </div>
  </div>
  <div class="right-header">
  <% if user_signed_in? %>
    <div class="header-button">
    <%= link_to "BMを終了する", destroy_user_session_path, method: :delete %>
    </div>
    <% end %>
  </div>
</div>

<%= form_with model: [@topic, @item], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :item, class: 'form-message', placeholder: 'type a item' %>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>

